In [1]:
#загружаем данные
import pandas as pd

# Read TSV file into DataFrame
df = pd.read_table('BRCA_pam50.tsv')
print(df)

           Unnamed: 0     UBE2T     BIRC5      NUF2      CDC6     CCNB1  \
0    TCGA-A1-A0SB-01A  2.507502  2.172270  0.952906  1.683162  3.108067
1    TCGA-A1-A0SD-01A  3.016158  2.514871  1.509129  1.354016  3.685035
2    TCGA-A1-A0SE-01A  4.626989  3.289047  2.102190  2.116975  4.525954
3    TCGA-A1-A0SF-01A  3.417782  2.262844  1.569301  1.800667  3.823694
4    TCGA-A1-A0SG-01A  2.948244  2.298689  1.116282  1.552142  3.582144
..                ...       ...       ...       ...       ...       ...
910  TCGA-BH-A0BV-11A  1.870352  1.072286  0.608802  0.902198  2.587268
911  TCGA-BH-A0BC-11A  1.739019  1.219743  0.573760  0.935661  1.957932
912  TCGA-BH-A0DD-11A  1.464052  0.597237  0.340499  1.037614  1.665574
913  TCGA-BH-A0DH-11A  1.686862  1.206100  0.259961  0.704237  2.288728
914  TCGA-BH-A0C0-11A  1.491155  0.422435  0.243862  0.544113  1.995766

         TYMS     MYBL2     CEP55      MELK  ...      NAT1     FOXA1  \
0    3.332448  2.982268  1.613604  1.641565  ...  0.926850  2.869065
1    2.125453  3.047474  2.333704  1.996853  ...  4.905805  6.677118
2    2.906470  3.798966  2.745027  2.451070  ...  6.053451  6.690114
3    2.843952  3.807282  2.141323  2.082400  ...  6.883599  6.280921
4    2.886328  2.697313  1.968233  1.662241  ...  1.814486  6.284076
..        ...       ...       ...       ...  ...       ...       ...
910  2.266861  1.450288  0.952375  0.914605  ...  2.266702  4.919079
911  2.211228  1.837159  1.142789  0.948133  ...  1.798099  4.237113
912  1.312091  1.086920  0.623715  0.544445  ...  2.147100  1.172748
913  1.789974  1.095518  0.541392  0.526630  ...  2.361668  4.795254
914  1.335294  0.548986  0.267646  0.268340  ...  2.172031  5.350962

        BLVRA     MMP11    GPR160     FGFR4      GRB7   TMEM45B     ERBB2  \
0    3.896839  1.387963  1.141875  0.544443  2.942855  0.875017  5.014075
1    5.044878  5.631087  3.942169  3.404177  3.655783  2.757977  5.999041
2    5.843557  5.504526  3.881691  1.038253  3.156081  1.355837  5.585759
3    5.705410  3.511572  4.374803  2.299735  3.054917  1.315680  5.215699
4    4.622443  6.845350  3.381032  3.586285  2.845107  3.359571  5.786065
..        ...       ...       ...       ...       ...       ...       ...
910  4.153488  0.861931  2.403286  0.401022  4.044734  1.569947  4.871977
911  4.438927  0.786682  1.765614  0.761287  3.296281  1.124510  4.406197
912  5.040978  0.415481  1.626146  0.113552  0.794801  0.177137  3.166627
913  5.046676  1.342472  1.866943  0.619597  2.776416  1.925006  4.462839
914  4.301563  0.485694  2.878511  2.385736  3.181648  2.173951  5.016147

         Subtype
0    Normal-like
1      Luminal A
2      Luminal A
3      Luminal A
4      Luminal A
..           ...
910      Healthy
911      Healthy
912      Healthy
913      Healthy
914      Healthy

[915 rows x 52 columns]

In [2]:
#получаем информацию о таблице DataFrame, в которую помещены данные, о типах элементов в каждом столбце
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 915 entries, 0 to 914
Data columns (total 52 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  915 non-null    object
 1   UBE2T       915 non-null    float64
 2   BIRC5       915 non-null    float64
 3   NUF2        915 non-null    float64
 4   CDC6        915 non-null    float64
 5   CCNB1       915 non-null    float64
 6   TYMS        915 non-null    float64
 7   MYBL2       915 non-null    float64
 8   CEP55       915 non-null    float64
 9   MELK        915 non-null    float64
 10  NDC80       915 non-null    float64
 11  RRM2        915 non-null    float64
 12  UBE2C       915 non-null    float64
 13  CENPF       915 non-null    float64
 14  PTTG1       915 non-null    float64
 15  EXO1        915 non-null    float64
 16  ORC6        915 non-null    float64
 17  ANLN        915 non-null    float64
 18  CCNE1       915 non-null    float64
 19  CDC20       915 non-null    float64
 20  MKI67       915 non-null    float64
 21  KIF2C       915 non-null    float64
 22  ACTR3B      915 non-null    float64
 23  MYC         915 non-null    float64
 24  EGFR        915 non-null    float64
 25  KRT5        915 non-null    float64
 26  PHGDH       915 non-null    float64
 27  CDH3        915 non-null    float64
 28  MIA         915 non-null    float64
 29  KRT17       915 non-null    float64
 30  FOXC1       915 non-null    float64
 31  SFRP1       915 non-null    float64
 32  KRT14       915 non-null    float64
 33  ESR1        915 non-null    float64
 34  SLC39A6     915 non-null    float64
 35  BAG1        915 non-null    float64
 36  MAPT        915 non-null    float64
 37  PGR         915 non-null    float64
 38  CXXC5       915 non-null    float64
 39  MLPH        915 non-null    float64
 40  BCL2        915 non-null    float64
 41  MDM2        915 non-null    float64
 42  NAT1        915 non-null    float64
 43  FOXA1       915 non-null    float64
 44  BLVRA       915 non-null    float64
 45  MMP11       915 non-null    float64
 46  GPR160      915 non-null    float64
 47  FGFR4       915 non-null    float64
 48  GRB7        915 non-null    float64
 49  TMEM45B     915 non-null    float64
 50  ERBB2       915 non-null    float64
 51  Subtype     915 non-null    object
dtypes: float64(50), object(2)
memory usage: 371.8+ KB

In [3]:
#получаем информацию о количестве классов = количество униклаьных элементов в столбце Subtype
df['Subtype'].unique(), df['Subtype'].unique().size

(array(['Normal-like', 'Luminal A', 'Luminal B', 'Triple-negative',
        'HER2-enriched', 'Healthy'], dtype=object),
 6)

In [4]:
# удаляем первый столбец
df.drop(columns=df.columns[0], axis=1, inplace=True)

In [5]:
#изменяем название подтипа на его номер
import numpy as np
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
Y=le.fit_transform(df['Subtype'])

In [6]:
#разбиваем ввыборку на тестовую и тренировочную согласно заданию
from sklearn.model_selection import train_test_split

SEED = 17
X_train, X_test, y_train, y_test = train_test_split(np.array(df.loc[:, df.columns != 'Subtype']), Y, test_size=0.2, random_state=SEED)

In [7]:
#  выполняем нормализацию значений
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [9]:
# тренируем классификатор knn
from sklearn.neighbors import KNeighborsRegressor
reg = KNeighborsRegressor(n_neighbors=1,p=5)
reg.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=1, p=5)

In [10]:
#предсказываем значения
y_pred = reg.predict(X_test)

In [11]:
y_pred = y_pred.astype(int)
y_pred

array([3, 5, 5, 2, 0, 3, 3, 5, 2, 2, 2, 3, 2, 1, 3, 3, 2, 3, 2, 0, 0, 2,
       5, 2, 2, 2, 3, 2, 2, 5, 3, 5, 3, 5, 5, 2, 3, 3, 5, 3, 3, 3, 5, 4,
       0, 2, 1, 3, 2, 4, 1, 2, 2, 2, 2, 3, 2, 1, 2, 2, 2, 1, 0, 5, 1, 2,
       2, 2, 2, 2, 2, 5, 1, 3, 2, 0, 2, 1, 1, 5, 2, 3, 3, 1, 2, 2, 0, 2,
       5, 1, 2, 2, 2, 2, 3, 3, 2, 2, 2, 3, 2, 2, 4, 2, 2, 2, 3, 2, 0, 1,
       2, 2, 5, 2, 5, 5, 2, 3, 2, 2, 5, 2, 2, 1, 2, 3, 4, 1, 2, 2, 3, 3,
       2, 2, 2, 5, 2, 2, 2, 5, 5, 2, 2, 2, 2, 2, 3, 5, 2, 5, 3, 2, 5, 2,
       2, 3, 3, 4, 2, 2, 3, 2, 3, 0, 5, 3, 1, 2, 0, 3, 1, 2, 5, 1, 5, 5,
       2, 5, 2, 3, 0, 2, 2])

In [12]:
# считаем точность классификации
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test,y_pred)

In [13]:
acc

0.8743169398907104

In [14]:
# считаем точность классификации по группам
acc_group = []
counts = []
for i in range(6):
    acc_group.append(accuracy_score(y_test[y_test==i],y_pred[y_test==i]))
    counts.append(y_test[y_test==i].size)

In [15]:

acc_group

[0.6153846153846154,
 0.8947368421052632,
 0.9382716049382716,
 0.8,
 0.6666666666666666,
 0.90625]

Общая точность 0.87, точность третьего класса 0.93 - в тестовой выборке представлено наибольшее количество значений, относящихся именно к этому классу. Классы, представленные меньшим количеством значений, классифицируются с меньшей точностью.

In [16]:
counts

[13, 19, 81, 35, 3, 32]

In [17]:
# метод ближайших центроидов
from sklearn.neighbors import NearestCentroid
creg = NearestCentroid()
creg.fit(X_train,y_train)

NearestCentroid()

In [18]:
# предсказание значений
cy_pred = creg.predict(X_test)

In [19]:
cy_pred = cy_pred.astype(int)
cy_pred

array([3, 5, 5, 2, 0, 3, 3, 5, 2, 3, 2, 3, 2, 1, 3, 3, 2, 3, 2, 0, 0, 2,
       5, 2, 2, 2, 2, 3, 1, 5, 2, 5, 3, 5, 5, 3, 3, 0, 5, 3, 0, 3, 5, 1,
       5, 2, 1, 3, 2, 3, 1, 2, 2, 2, 2, 3, 2, 1, 2, 2, 2, 1, 0, 5, 1, 2,
       2, 2, 3, 2, 2, 5, 1, 3, 2, 0, 3, 4, 1, 5, 2, 0, 2, 1, 2, 1, 0, 3,
       5, 1, 2, 2, 2, 2, 3, 3, 1, 2, 2, 3, 2, 2, 4, 3, 2, 2, 3, 2, 0, 1,
       4, 4, 5, 3, 5, 5, 2, 3, 2, 4, 5, 2, 2, 1, 0, 3, 4, 1, 3, 2, 3, 3,
       2, 2, 2, 5, 3, 2, 2, 5, 5, 2, 2, 2, 3, 2, 3, 5, 2, 5, 3, 4, 5, 2,
       2, 3, 3, 4, 2, 2, 3, 2, 3, 0, 5, 2, 1, 2, 0, 3, 1, 2, 5, 4, 5, 5,
       3, 5, 3, 0, 0, 3, 0])

In [20]:
# точность 
c_acc = accuracy_score(y_test,cy_pred)

In [21]:
c_acc

0.819672131147541

Общая точность уменьшилась.

In [22]:
#точность по группам
c_acc_group = []
for i in range(6):
    c_acc_group.append(accuracy_score(y_test[y_test==i],cy_pred[y_test==i]))

In [23]:
c_acc_group,acc_group,counts

([1.0,
  0.8421052631578947,
  0.7407407407407407,
  0.8285714285714286,
  0.6666666666666666,
  0.9375],
 [0.6153846153846154,
  0.8947368421052632,
  0.9382716049382716,
  0.8,
  0.6666666666666666,
  0.90625],
 [13, 19, 81, 35, 3, 32])

In [25]:
sum(c_acc_group)/len(c_acc_group), sum(acc_group)/len(acc_group)

(0.8359306831894551, 0.8035516215158026)

Точность по каждому классу в среднем увеличилась.

In [26]:
class_1_point = np.array([1,0,1])
class_2_point = np.array([0,0.5,0])
test_point = np.array([1,0,-1])

Примеры двуклассовой выборки

In [28]:
import math
np.linalg.norm(class_1_point-test_point, ord=1), np.linalg.norm(class_2_point-test_point, ord=1)

(2.0, 2.5)

In [29]:
np.linalg.norm(class_1_point-test_point, ord=2), np.linalg.norm(class_2_point-test_point, ord=2)

(2.0, 1.5)